<%- include('../partials/header'); -%>

<form action="signup" method="post">
  <input type="email" name="email" placeholder="email" required /> <br>
  <input type="text" name="username" placeholder="username" required /> <br>
  <input type="password" name="password" placeholder="password" required /> <br>
  <input type="submit" value="SUBMIT" />
</form>

<%- include('../partials/footer'); -%>