*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
}

body {
  margin: 0;
}

#container {
  margin: 0;
}

.wrapper {
  width: 420px;
  background: transparent;
  color: hsl(0, 0%, 100%);
  padding: 30px 40px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
  font-size: 40px;
  text-align: center;
}

.wrapper .form-group {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.form-group .form-control {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 50px;
  -webkit-text-fill-color: #fff;
}

.form-group .form-control:focus {
  background: transparent;
  outline: none;
  caret-color: black;
}

.form-group .form-control::placeholder {
  color: #fff;
}

.form-group i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.form-group .show {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 25px;
  color: #fff;
}

.wrapper .form-check {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 15px 0px 15px;
}

.form-check .form-check-label .form-check-input {
  accent-color: #fff;
  margin: 3px 5px 0px 0px;
}

.form-check a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px 0 0;
}

.form-check a:hover {
  text-decoration: underline;
}

#login-btn {
  width: 100%;
  height: 45px;
  padding: 10px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.register {
  color: #fff;
}

.wrapper .register {
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
}

.register p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .header {
    display: block;
    text-align: center;
    max-height: 100px;
  }
  .header img {
    display: inline-block;
    margin: 0 auto;
    align-items: center;
    margin-top: -150px;
    width: 400px;
    height: 400px;
  }
  .header p {
    margin-top: -180px;
    margin-right: 0;
    font-size: 19px;
  }

  .main {
    display: block;
    align-items: center;
    min-height: 100vh;
    background: url(./image/background1.png) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  
  .main .icon img {
    width: 400px;
    height: 400px;
  }
  
  .main .icon .lower-icon {
    display: none;
  }
  
  .main .icon .upper-icon img{
    max-height: 300px;
    margin-top: -40px;
  }
  
  
  .wrapper {
    margin-top: -40px;
  }
  
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;
  }

  .header img {
    width: 400px;
    height: 400px;
  }

  .header p {
    font-size: 20px;
    font-weight: bold;
  }

  .main {
    display: block;
    align-items: center;
    min-height: 100vh;
    background: url(./image/background1.png) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  
  .main .icon .upper-icon {
    display: none;
  }

  .main .icon .lower-icon {
    display: flex;
  }

  .main .icon img {
    width: 400px;
    height: 400px;
  }

  .main .icon .lower-icon .left-image img {
    margin-left: 100px;
  }
  
  .wrapper {
    margin-left: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    max-height: 150px;
    margin-bottom: -20px;
  }

  .header img {
    width: 400px;
    height: 400px;
    margin-top: -130px;
  }
  
  .header p {
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./image/background1.png) no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  
  .main .icon img {
    width: 400px;
    height: 400px;
  }
  
  
  .main .icon .lower-icon {
    display: flex;
    max-height: 300px;
  }
  
  
  .main .icon .upper-icon img{
    max-height: 300px;
    margin-left: 100px;
  }
  
  .main .icon .lower-icon .left-image {
    margin-top: -150px;
  }
  
  .main .icon .lower-icon .right-image {
    margin-left: -200px;
    margin-top: -150px;
  }
  
  .wrapper {
    margin-left: -60px;
  }
}
