<%- include('partials/header'); -%>

<h1 class="text-center ">Anyone can see this</h1>
<div class="text-center ">
  <a href="login">LOG IN</a>
  <a href="signup">SIGN UP</a>
</div>
<%- include('partials/footer'); -%>